.title-card-div {
  background-color: #ff6c37;
  padding: 18px 30px;
  margin: 0px 40px;
  border: #ff6c37;
  border-radius: 5px;
  color: white;
  position:  fixed;
  width: 70rem;
  z-index: 1000;
}
.body-card-div{
  padding: 18px 30px;
  margin: 40px 40px;
  border: #ff6c37;
  border-radius: 5px;
  color: white;
  position: relative;
  top: 10rem;
}
.title-card-div span {
  color: #edd0eb;
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 300;
}
.item-card-main {
  padding: 5px 30px;
  margin: 40px 40px;
  border-radius: 5px;
}

.item-card {
  border-radius: 5px;
  padding: 5px 30px;
  width: 437px;
  background-color: #097bed;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: all 0.3s ease;
}

.item-card:hover {
  width: 450px; /* For example, increase width on hover */
  background-color: #0056b3; 

}

.item-card img {
  border-radius: 5px;
}
.order-now {
  position: relative;
  display: inline;
  /* float: right; */
  position: relative;
  /* left: 20rem; */
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: #ff6c37;       /* Color of the underline */
  text-decoration-thickness: 2px
}
