/* Login.css */

.auth-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
  margin: 0; /* Remove default margin */
  background-color: #f4f4f9; /* Optional: background color */
}

.auth-form {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  box-sizing: border-box; /* Ensure padding and border are included in the width and height */
}

.auth-form h2 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: #333;
}

.auth-form label {
  display: block;
  margin-bottom: 1rem;
}

.auth-input {
  width: 93%;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 0.5rem;
}
.not-have-account-span{
  text-align: center;
  padding: 20px 0px;
  font-size: 16px;
  color: black;
  position: relative;
  left:110px
}
.not-have-account{
  font-size: 16px;
  font-weight: 400;
  color: #007bff;
  cursor: pointer;
}

.auth-button {
  width: 100%;
  padding: 0.8rem;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 15px;
}

.auth-button:hover {
  background-color: #0056b3;
}
